export REPO_ROOT="${PWD}"
export REPO_NAME=$(basename $(git rev-parse --show-toplevel))

if [[ "$(uname)" == "Linux" ]]; then
    NUM_PROCESSORS=$(nproc)
elif [[ "$(uname)" == "Darwin" ]]; then
    NUM_PROCESSORS=$(sysctl -n hw.ncpu)
fi

# Default number of bitbake threads and parallel 'make' tasks.
#
# NOTE: By default, we do not use all available cores for bitbake, as there is a possibility of 
# running out of memory and bogging down the system.
export USER_BB_NUMBER_THREADS="$(expr $NUM_PROCESSORS \* 3 / 4)"
export USER_PARALLEL_MAKE="-j$(expr $NUM_PROCESSORS / 4 + 2)"

# Default Build directory.
#
# NOTE: If using a containerized environment, this directory MUST be outside the mounted directory 
# (i.e., not a subdirectory in this directory).
export LOCAL_USER=$(whoami)
export BUILD_DIR="/home/${LOCAL_USER}/Yocto/${REPO_NAME}-build"

# Default build target (image).
#
# See https://docs.yoctoproject.org/4.0.11/singleindex.html#images for more information.
export TARGET="core-image-base"

# Default SSTATE_DIR.
#
# See https://docs.yoctoproject.org/4.0.11/singleindex.html#term-SSTATE_DIR for more information.
export USER_SSTATE_DIR="$BUILD_DIR/sstate-cache"

# Default DL_DIR.
#
# See https://docs.yoctoproject.org/4.0.11/singleindex.html#term-DL_DIR for more information.
export USER_DL_DIR="$BUILD_DIR/downloads"

# Default output directory to place the generated images.
#
# Note: the default output directory should be ignored by git.
export OUTPUT_IMAGE_DIR="${REPO_ROOT}/build_images"

# Source the .userenv file if it exists.
userenv=".userenv"
if [ -f "$userenv" ]; then
    source "$userenv"
fi
