[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "meta-flutter"]
	path = meta-flutter
	url = https://github.com/meta-flutter/meta-flutter
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang
